<template>
  <div class="common-page">
    <PanelLayout ref="panelLayoutRef">
      <template v-slot:left>
        <LeftTreeList @selectChange="onSelectChange" @refreshFunctionalData="refreshFunctionalData" />
      </template>
      <RightTable :tableData="currentTableData" />
    </PanelLayout>
  </div>
</template>

<script>
import PanelLayout from '@/components/panelLayout/PanelLayout.vue'
import LeftTreeList from './leftTreeList/LeftTreeList.vue'
import RightTable from './rightTable/RightTable.vue'
export default {
  name:'<%= pageName%>',
  data() {
    return {
      functionalData: [],
      currentNode: null,
      currentTableData: [],
      tableData: [
        {
          lid: '1',
          id: '1',
          name: '1',
        },
        {
          lid: '1',
          id: '1-1',
          name: '1-1',
        },
        {
          lid: '2',
          id: '2',
          name: '2-1',
        },
        {
          lid: '2',
          id: '2-1',
          name: '2-1',
        },
      ],
    }
  },
  watch: {
    currentNode(newValue, oldValue) {
      this.currentTableData = this.tableData.filter((item) => item.lid == newValue.id)
    },
  },
  methods: {
    refreshFunctionalData(data) {
      this.functionalData = data || []
    },
    onSelectChange(nodeData) {
      this.currentNode = nodeData
    },
  },
  components: {
    PanelLayout,
    LeftTreeList,
    RightTable,
  },
}
</script>

<style lang="less" scoped></style>
