<template>
  <div class="system-analysis">
    <PanelLayout :defaultCollapseLeft="false" :defaultLeftWidth="14" :defaultRightWidth="22" :showRightPanel="showRightPanel">
      <template slot="left">
        <LeftList isHeader headerTitle="左列表" v-model="curComponent" :listData="listData" />
      </template>
      <div class="main">
        <component :is="curComponent" @selectNode="hanldeSelectNode" :graphConfig="graphConfig" :updateGraphData="updateGraphData"></component>
      </div>
      <template slot="right">
        <Right :nodeData="nodeData || {}" @updateNodeData="handleUpdateNodeData" />
      </template>
    </PanelLayout>
  </div>
</template>
<script>
import PanelLayout from '@/components/panelLayout/PanelLayout.vue'
import LeftList from './leftList/<%= pageName%>LeftList.vue'
import Right from './right/Right.vue'
import DemandModelDiagram from './main/demandDiagram/DemandModelDiagram.vue'
import DemandAnalyseTable from './main/demandAnalyseTable/DemandAnalyseTable.vue'

export default {
  name: '<%= pageName%>',
  components: { PanelLayout, LeftList, Right, DemandModelDiagram, DemandAnalyseTable },
  data() {
    return {
      curComponent: 'DemandModelDiagram',
      nodeData: null,
      listData: [
        {
          id: 'DemandModelDiagram',
          name: '需求交互建模',
        },
        {
          id: 'DemandAnalyseTable',
          name: '交互需求分析表',
        },
      ],
      graphConfig: {
        editorData: [
          {
            title: '系统元素',
            category: [
              {
                icon: 'icon-circle',
                edefineName: '数据链系统',
                fill: '#999',
                eobjectShape: 'graph_circle',
              },
              {
                icon: 'icon-line1',
                edefineName: '交互关系',
                fill: '#999',
                eobjectShape: 'graph_line',
              },
              {
                icon: 'icon-line6',
                edefineName: '配合协同关系',
                fill: '#999',
                eobjectShape: 'graph_line_dotted',
              },
            ],
          },
          {
            title: '绘图元素',
            isDraw: true,
            category: [
              {
                icon: 'icon-text',
                edefineName: '文本',
              },
              {
                icon: 'icon-copy',
                edefineName: '批注',
              },
              {
                icon: 'icon-line3',
                edefineName: '箭头',
              },
            ],
          },
        ],
        nodeCategory: ['graph_circle'],
        linkCategory: ['graph_line'],
      },
      updateGraphData: {},
    }
  },
  computed: {
    showRightPanel() {
      return this.curComponent === 'DemandModelDiagram' && this.nodeData !== null
    },
  },
  methods: {
    handleUpdateNodeData(data) {
      this.updateGraphData = data
    },
    hanldeSelectNode(data) {
      this.nodeData = data
    },
  },
}
</script>

<style lang="less" scoped>
.system-analysis {
  width: 100%;
  height: 100%;
  background: #fff;
  .main {
    width: 100%;
    height: 100%;
  }
}
</style>
