<template>
  <PanelLayout>
    <template slot="left-title"> 模板列表 </template>
    <template slot="left">
      <div class="left-panel">
        <div v-for="item in templateList" @click="onChangeActiveTemplate(item)" :class="{ active: activeTemplate === item.id }" :key="item.id">
          {{ item.name }}
        </div>
      </div>
    </template>
    <div class="preview-word">
      <Word :data="wordData" />
    </div>
    <template slot="right-title"> 模型列表 </template>
    <template slot="right"> bbbb </template>
  </PanelLayout>
</template>
<script>
import PanelLayout from '@/components/panelLayout/PanelLayout.vue'
import Word from './word/Word.vue'
import { uuid } from '@/utils/commonUtil'

export default {
  name: '<%= pageName%>',
  components: {
    PanelLayout,
    Word,
  },
  data() {
    return {
      templateList: [
        {
          id: 'jsxq1',
          name: '军事需求文档报告模板',
        },
        {
          id: uuid(),
          name: '军事战略需求文档报告模板',
        },
      ],
      activeTemplate: 'jsxq1',
      wordData: [
        {
          type: 'text',
          id: 'test',
          sort: 1,
          isTransverse: false,
          content: '本文档的主要对该系统或软件的详细设计说明进行描述，包括内容有数据库级设计决策、数据库逻辑关系、数据表详细组成结构和需求可追踪性。',
        },
        {
          type: 'img',
          id: 'imgid',
          sort: 2,
          isTransverse: false,
          content: 'http://192.168.2.204:8037/picture/2024-01/60c8a47e45d54d8f8125f88c93fdfd5a.png',
          title: '图片标题',
          isShowTitle: true,
        },
        {
          type: 'table',
          id: 'tableid',
          sort: 3,
          isTransverse: false,
          headerData: [
            {
              id: 'sortHeader',
              content: '序号',
              width: 30,
            },
            {
              id: 'name',
              content: '名称',
              width: 100,
            },
          ],
          content: [
            [
              {
                id: uuid(),
                content: '1',
              },
              {
                id: uuid(),
                content: '名字1',
              },
            ],
            [
              {
                id: uuid(),
                content: '2',
              },
              {
                id: uuid(),
                content: '名字2',
              },
            ],
          ],
          title: '表格标题',
          isShowTitle: true,
        },
      ],
    }
  },
  methods: {
    onChangeActiveTemplate(item) {
      this.activeTemplate = item.id
    },
  },
}
</script>

<style lang="less" scoped>
.preview-word {
  height: 100%;
  padding: 20px 10px 10px;
  overflow-y: auto;
}

.left-panel {
  > div {
    padding: 10px;
    border-bottom: 1px solid #d8dce5;
    cursor: pointer;

    &.active {
      color: #1e86d5;
    }
  }
}
</style>
