<template>
    <div class="list-comp-wrap">
      <slot name="title">
        <template v-if="headerTitle">
          <div class="header-title">{{ headerTitle }}</div>
        </template>
      </slot>
      <div :class="['item-wrap', currentActiveNode === item.id ? 'active' : '']" v-for="item in listData" :key="item.id" @click="onClick(item)">
        {{ item.name }}
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'ListComp',
    props: {
      headerTitle: {
        type: String,
        default: '标题',
      },
      listData: {
        type: Array,
        default: () => [],
      },
    },
    data() {
      return {
        currentActiveNode: null,
      }
    },
    watch: {
      listData: {
        handler(newValue) {
          if (newValue?.length) {
            this.onClick(newValue[0])
          }
        },
        immediate: true,
      },
    },
    methods: {
      onClick(item) {
        this.currentActiveNode = item.id
        this.$emit('onClickNode', item)
      },
    },
  }
  </script>

  <style lang="less" scoped>
  .list-comp-wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;

    .header-title {
      padding: 15px 10px;
      background: #1e86d5;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }

    .item-wrap {
      padding: 20px 10px;
      font-size: 16px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      cursor: pointer;

      &:hover {
        color: #02a7f0;
      }
    }

    .active {
      color: #02a7f0;
      font-weight: bold;
    }
  }
  </style>
