<template>
  <div class="common-page" ref="tableRef">
    <el-table :data="tableData" :height="tableHeight" size="mini" border style="width: 100%" v-bind="$attrs" v-on="$listeners">
      <el-table-column type="selection" align="center" label="序号" width="80"> </el-table-column>
      <el-table-column type="index" label="序号" width="60px" align="center"> </el-table-column>
      <%_ if (list.length > 0) { -%><%- include("../../../../base/tableColumn/index.ejs",{ list }) -%><%_ } -%>
      <el-table-column label="操作" width="260">
        <template slot-scope="{ row }">
          <el-button plain type="primary" icon="el-icon-edit" size="mini" @click="onEdit(row)">编辑</el-button>
          <el-button plain type="danger" icon="el-icon-delete" size="mini" @click="onDelete(row)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination-wrapper" ref="paginationRef">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="pageInfo.page"
        :page-sizes="[10, 20, 50, 100, 200]"
        :page-size="pageInfo.rows"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
export default {
  name: '<%= pageName%>Table',
  props: {
    <%_ if (enumList.length > 0) { -%>
    <% enumList.forEach(function(field){ -%><%= field.prop%>Enum : {},<%_ }); %>
    <%_ } -%>
    tableData: {},
    total: {},
    pageInfo: {},
  },
  data() {
    return {
      tableHeight: '500px',
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.setHeight()
    })
  },
  methods: {
    setHeight() {
      this.tableHeight = this.$refs.tableRef.offsetHeight - this.$refs.paginationRef.offsetHeight + 'px'
    },
    onEdit(row) {
      this.$emit('onEdit', row)
    },
    onDelete(row) {
      this.$emit('onDelete', row)
    },
    handleSizeChange(rows) {
      this.pageInfo.rows = rows
    },
    handleCurrentChange(page) {
      this.pageInfo.page = page
    },
  },
}
</script>

<style lang="less" scoped></style>